<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Layout</title>
    <link rel="shortcut icon" href="/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>No Layout Title</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem cum incidunt quis! Blanditiis molestias 
            inventore praesentium consequuntur quam, dolor officia incidunt quidem officiis rerum aperiam reiciendis a error mollitia harum?
        </p>
    </div>
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>